
# roles/os-hardening/tasks/main.yml
---
- name: Créer l'utilisateur admin sysops
  user:
    name: sysops
    groups: sudo
    shell: /bin/bash
    append: yes

- name: Déployer la clé SSH publique pour sysops
  authorized_key:
    user: sysops
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: Durcissement SSH (Désactiver Root & Password)
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^PermitRootLogin', line: 'PermitRootLogin no' }
    - { regexp: '^PasswordAuthentication', line: 'PasswordAuthentication no' }
  notify: Restart SSH

- name: Tuning Kernel pour haute performance (Network)
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop:
    - { name: 'net.ipv4.ip_forward', value: '1' }
    - { name: 'fs.file-max', value: '100000' } # Augmenter la limite de fichiers ouverts
